.container {
  width: 280px;
}

.title {
  color: #fff;
  margin-bottom: 25px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--light-gray);
  opacity: 0.7;
  margin-bottom: 15px;
}

.text:hover {
  color: #fff;
  opacity: 1;
}