.container {
  width: 280px;
  margin-right: 5rem;
}

.container > .title {
  color: #fff;
  margin-bottom: 25px;
}

.container > .linksContainer {
  display: flex;
  flex-direction: column;
}

.linksContainer > .text {
  color: var(--light-gray);
  opacity: 0.7;
  margin-bottom: 15px;
}

.linksContainer > .text:hover {
  color: #fff;
  opacity: 1;
}