.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainLink {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.5rem;
  color: var(--dark-gray);
}

.mainLink:hover {
  color: var(--dark-gray);
}

.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  padding-right: 35px;
  color: #676767;         /* Sass lighten 20% */
}

.link:hover {
  color: var(--dark-gray);
  font-weight: 600;
}

.contact {
  font-size: 1.6rem;
  color: var(--dark-gray);
}

.contact:hover {
  color: var(--light-blue);
  font-weight: 800;
}